language: c

compiler:
  - clang
  - gcc

arch:
  - ppc64le

os: linux

before_script:
  - "sudo apt-get install rbenv"
  - "echo 'int main(){return 0;}' > dummy2.c"
  - "xlc dummy2.c"
  - "./a.out"

script:
  - "make test"
